*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
    background-color: rgba(214, 214, 214, 0.3);
    background-image: url(../image/task10.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    
}
h1{
    margin-top: 100px;
    text-transform: capitalize;
    font-size: 70px;
}
p{
    font-family: sans-serif;
    text-transform: capitalize;
}
button{
    padding: 15px 40px;
    margin: 30px;
    background-color: red;
    color: white;
}
.dv div{
    width: 350px;
    height: 200px;
    background-color: rgba(175, 175, 175, 0.4);
    float: left;
    margin: 10px;
    border-radius: 5px;
}
.dv{
    position: absolute;
    bottom: 40px;
    left: 230px;
    text-align: left;
}
.dv h2 , .dv p{
    padding: 20px;
}
.dv a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size:medium;
    font-weight: 600;
    margin: 0 20px;

}
a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: red;
}
.dv h2 i{
    color: red;
    margin: 0px 20px;
}
 
